* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(57, 57, 57); */
  color: white;
  background-color: rgb(8, 13, 28);
  /* font-family: "Major Mono Display", monospace; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1040px) {
  .container {
    flex-wrap: wrap;
  }
}

.bg-img {
  position: fixed;
  z-index: -1545451;
  top: 30%;
  right: 68%;
  filter: invert(50%);
  opacity: 0.3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-img {
  animation: rotate 50s linear infinite;
}

/* 

 .navv {
    margin: 30px;
    color: rgb(87, 25, 126);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    width: 40%;
    height: 50px;
    /* background-color: rgb(44, 43, 43); 
    align-items: center;
    align-content: center;
    /* padding: 10px ; 
    background-color: rgb(0, 45, 171);
    position: fixed;
    border-radius: 70px;
    /* box-shadow: 5px 5px 30px rgb(0, 255, 242); 
    box-shadow: inset 0 0 20px rgb(0, 19, 34);  
    opacity: 1;}   
    */
nav {
  margin: 10px;
}

.navv {
  position: fixed;
  background-color: rgb(16, 30, 68);
  border-radius: 70px;
  box-shadow: inset 0 0 20px rgb(0, 19, 34);
  width: 40%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding: 10px;
}

@media (max-width: 1040px) {
  nav {
    opacity: 0;
  }
}
.navv {
  z-index: 844444;
}

.navv a:hover {
  color: rgb(58, 166, 255);
}

.navv a {
  /* padding-left: 50px; */
}

.sidebar a:hover {
  color: rgb(126, 100, 180);
}

a {
  /* padding: 17px; */
  font-size: 20px;
  color: rgb(217, 217, 217);
  text-decoration: none;
  font-weight: bolder;
}

.left {
  /* background-color: aqua; */
  position: fixed;
  width: 40%;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  place-content: center;
  place-items: center;
}
@media (max-width: 1040px) {
  .left {
    height: 100vh;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
}

.frontdev {
  position: relative;
  top: 40px;
  font-size: 80px;
}

@media (max-width: 1040px) {
  .frontdev {
    font-size: 50px;
  }
}

@media (max-width: 350px) {
  .left {
    height: 100vh;
    position: relative;
    left: 20%;
    width: 100vw;
    text-align: center;
    font-size: 15px;
  }
  .frontdev {
    font-size: 40px;
  }
}

button {font-weight: bold;
  color: rgb(18, 116, 197);
  position: relative;
  bottom: -100px;
  font-size: 15px;
  width: 220px;
  height: 44px;
  border-radius: 70px;
  background-color:white;
  backdrop-filter: blur(10px);
  border: none;
  /* box-shadow: 2px 2px 20px rgb(18, 116, 197); */
  
}

button:hover{
    color: rgb(230, 230, 230);
    background-color:rgb(18, 116, 197) ;
    border:  none;
    transition: all 0.2s ease-in-out;
    /* box-shadow: 2px 2px 20px rgb(255, 255, 255); */


}

.right {
  /* background-color: blanchedalmond; */
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 100px;
}
@media (max-width: 1040px) {
  .right {
    transition: all 0.5s ease-in-out;
    position: relative;
    width: 100%;
    /* padding-inline: 20%; */
  }
}

@media (max-width: 700px) {
  .right {
    transition: all 0.5s ease-in-out;
  }
}

.element {
  margin-right: 200px;
  margin-top: 100px;
  width: 600px;
  height: 550px;
  background-color: rgba(11, 17, 37, 0.1);
  box-shadow: 5px 5px 40px rgba(18, 116, 197, 0.4);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  padding: 15px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.element:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 15deg);
}

@media (max-width: 1040px) {
  .element {
    width: 500px;
    flex-wrap: wrap;
    align-self: center;
  }
}

.content {
  height: 350px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}

@media (max-width: 1040px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
  }
}

@media (max-width: 1040px) {
  .se {
    position: relative;
    right: 100px;
    flex-wrap: wrap;
  }
}

.title {
  position: relative;
  /* bottom: 20px; */
  right: 200px;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content p {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

p:hover {
  transform: translate3d(0px, 0px, 50px);
}

.pt {
  position: absolute;
  left: 52px;
  top: 1480px;
}

.pro {
  position: relative;
  display: flex;
  column-gap: 100px;
  align-items: start;

  /* height: fit-content; */
}

.proj {
  margin-right: 200px;
  margin-top: 100px;
  width: 600px;
  height: 550px;
  background-color: rgb(11, 17, 37);
  box-shadow: 5px 5px 60px rgb(18, 116, 197);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  padding: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media (max-width: 1040px) {
  .proj {
    width: 500px;
    flex-wrap: wrap;
  }
}
.github {
  position: relative;
  top: 20px;
  left: 15px;
  border-radius: 50%;
  background-color: rgb(201, 201, 201);
}

.github:hover {
  background-color: white;
  box-shadow: 5px 5px 90px rgb(197, 18, 18);
}

.cons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sidebar {
  display: flex;
  position: fixed;
  right: -250px;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 120px;
  padding-top: 120px;
  transition: all 0.3s ease-in-out;
}

.mobnav {
  text-decoration: none;
}

.mobnav {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 234324;
  padding: 10px;
  background-color: rgba(0, 0, 36, 0.771);
  box-shadow: 5px 1px 20px rgba(37, 134, 194, 0.2);
  cursor: pointer;
  opacity: 0;
}
@media (max-width: 1040px) {
  .mobnav {
    opacity: 1;
  }
}

.sidebar a {
  width: 100%;
}
